<phpunit bootstrap="tests/phpunit/bootstrap.php" backupGlobals="false"
        colors="false" convertErrorsToExceptions="true"
        convertNoticesToExceptions="true" convertWarningsToExceptions="true">
        <testsuites>
			<testsuite name="test-myslideshow">
				<file>tests/phpunit/tests/test-wp-myslideshow-plugin.php</file>
				<file>tests/phpunit/tests/test-wp-myslideshow-admin.php</file>
				<file>tests/phpunit/tests/test-wp-myslideshow-shortcode.php</file>
			</testsuite>
        </testsuites>
</phpunit>